In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
train_data=pd.read_csv("train.csv")

In [7]:
train_data.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [8]:
train_data.shape

(4209, 378)

In [21]:
y_train=train_data['y']
y_train.head()

0    130.81
1     88.53
2     76.26
3     80.62
4     78.02
Name: y, dtype: float64

In [25]:
x_train=train_data.drop(["ID",'y'], axis=1)
x_train.head()

# # Creating the final dataset
# # Removing unwanted columns (ID); y 
# final_column = list(set(train_data.columns) - set(['ID', 'y']))

# x_train = train_data[final_column]
# # x_train
# x_test = test_data[final_column]
# # x_test

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,k,v,at,a,d,u,j,o,0,0,...,0,0,1,0,0,0,0,0,0,0
1,k,t,av,e,d,y,l,o,0,0,...,1,0,0,0,0,0,0,0,0,0
2,az,w,n,c,d,x,j,x,0,0,...,0,0,0,0,0,0,1,0,0,0
3,az,t,n,f,d,x,l,e,0,0,...,0,0,0,0,0,0,0,0,0,0
4,az,v,n,f,d,h,d,n,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
test_data=pd.read_csv("test.csv")
test_data.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [10]:
test_data.shape

(4209, 377)

In [27]:
x_test=test_data.drop(["ID"], axis=1)
x_test.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,az,v,n,f,d,t,a,w,0,0,...,0,0,0,1,0,0,0,0,0,0
1,t,b,ai,a,d,b,g,y,0,0,...,0,0,1,0,0,0,0,0,0,0
2,az,v,as,f,d,a,j,j,0,0,...,0,0,0,1,0,0,0,0,0,0
3,az,l,n,f,d,z,l,n,0,0,...,0,0,0,1,0,0,0,0,0,0
4,w,s,as,c,d,y,i,m,0,0,...,1,0,0,0,0,0,0,0,0,0

In [28]:
#Check for null and unique values for test and train sets.
def check_missing_values(df):
    if df.isnull().any().any():
        print("There are Null values")
    else:
        print("There are no missing Values")

check_missing_values(x_train)
check_missing_values(x_test)

There are no missing Values
There are no missing Values

In [31]:
x_train.dtypes.value_counts()

int64     368
object      8
dtype: int64

In [38]:
# Checking Variance
# Removing columns with Variance 0 and 1
for column in x_train.columns:
    check = len(np.unique(x_train[column]))
    if check == 1:
        x_train.drop(column, axis = 1) 
        x_test.drop(column, axis = 1)
    if check > 2: # Column is categorical; hence mapping to ordinal measure of value
        mapit = lambda x: sum([ord(digit) for digit in x])
        x_train[column] = x_train[column].apply(mapit)
        x_test[column] = x_test[column].apply(mapit)

x_train.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,107,118,213,97,100,117,106,111,0,0,...,0,0,1,0,0,0,0,0,0,0
1,107,116,215,101,100,121,108,111,0,0,...,1,0,0,0,0,0,0,0,0,0
2,219,119,110,99,100,120,106,120,0,0,...,0,0,0,0,0,0,1,0,0,0
3,219,116,110,102,100,120,108,101,0,0,...,0,0,0,0,0,0,0,0,0,0
4,219,118,110,102,100,104,100,110,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
# Performing dimensionality reduction with PCA - principal components analysis
from sklearn.decomposition import PCA
n_comp = 12
pca = PCA(n_components = n_comp, random_state = 42)
pca_result_train = pca.fit_transform(x_train)
pca_result_test = pca.transform(x_test)

In [56]:
# ML Modeling with XGboost
import xgboost as xgb
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(pca_result_train, y_train, test_size = 0.2, random_state = 42)

In [57]:
# Building the final feature set
f_train = xgb.DMatrix(x_train, label = y_train)
f_valid = xgb.DMatrix(x_valid, label = y_valid)
f_test = xgb.DMatrix(x_test)
f_test = xgb.DMatrix(pca_result_test)

In [58]:
# Setting the parameters for XGB
params = {}
params['objective'] = 'reg:linear'
params['eta'] = 0.02
params['max_depth'] = 4

In [59]:
# Predicting the score
# Creating a function for the same

def scorer(m, w):
    labels = w.get_label()
    return 'r2', r2_score(labels, m)

In [60]:
final_set = [(f_train, 'train'), (f_valid, 'valid')]

In [61]:
P = xgb.train(params, f_train, 1000, final_set, early_stopping_rounds=50, feval=scorer, maximize=True, verbose_eval=10)

[13:18:49] WARNING: C:/Users/administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
[0]	train-rmse:98.99696	train-r2:-59.49733	valid-rmse:98.88884	valid-r2:-61.82690
[10]	train-rmse:81.14409	train-r2:-39.64492	valid-rmse:81.07847	valid-r2:-41.23399
[20]	train-rmse:66.59753	train-r2:-26.37844	valid-rmse:66.55611	valid-r2:-27.45948

C:\Users\Ankit\anaconda3\lib\site-packages\xgboost\core.py:568: FutureWarning: Pass `evals` as keyword args.  Passing these as positional arguments will be considered as error in future releases.
  warnings.warn(
C:\Users\Ankit\anaconda3\lib\site-packages\xgboost\training.py:35: UserWarning: `feval` is deprecated, use `custom_metric` instead.  They have different behavior when custom objective is also used.See https://xgboost.readthedocs.io/en/latest/tutorials/custom_metric_obj.html for details on the `custom_metric`.
  warnings.warn(

[30]	train-rmse:54.75784	train-r2:-17.50910	valid-rmse:54.73408	valid-r2:-18.24716
[40]	train-rmse:45.14007	train-r2:-11.57816	valid-rmse:45.13877	valid-r2:-12.09033
[50]	train-rmse:37.34669	train-r2:-7.60987	valid-rmse:37.35599	valid-r2:-7.96544
[60]	train-rmse:31.04961	train-r2:-4.95120	valid-rmse:31.08600	valid-r2:-5.20841
[70]	train-rmse:25.98398	train-r2:-3.16777	valid-rmse:26.03514	valid-r2:-3.35483
[80]	train-rmse:21.93872	train-r2:-1.97108	valid-rmse:22.00347	valid-r2:-2.11052
[90]	train-rmse:18.73534	train-r2:-1.16678	valid-rmse:18.82137	valid-r2:-1.27590
[100]	train-rmse:16.22451	train-r2:-0.62493	valid-rmse:16.33917	valid-r2:-0.71518
[110]	train-rmse:14.28491	train-r2:-0.25964	valid-rmse:14.42866	valid-r2:-0.33753
[120]	train-rmse:12.81384	train-r2:-0.01356	valid-rmse:12.98404	valid-r2:-0.08310
[130]	train-rmse:11.70088	train-r2:0.15486	valid-rmse:11.89988	valid-r2:0.09022
[140]	train-rmse:10.86475	train-r2:0.27133	valid-rmse:11.11128	valid-r2:0.20681
[150]	train-rmse:10.25817	train-r2:0.35042	valid-rmse:10.53840	valid-r2:0.28649
[160]	train-rmse:9.80714	train-r2:0.40629	valid-rmse:10.13511	valid-r2:0.34005
[170]	train-rmse:9.46897	train-r2:0.44653	valid-rmse:9.85310	valid-r2:0.37627
[180]	train-rmse:9.20224	train-r2:0.47727	valid-rmse:9.65216	valid-r2:0.40145
[190]	train-rmse:9.02242	train-r2:0.49750	valid-rmse:9.51699	valid-r2:0.41810
[200]	train-rmse:8.88807	train-r2:0.51235	valid-rmse:9.42336	valid-r2:0.42949
[210]	train-rmse:8.78729	train-r2:0.52335	valid-rmse:9.35823	valid-r2:0.43735
[220]	train-rmse:8.71019	train-r2:0.53167	valid-rmse:9.30937	valid-r2:0.44321
[230]	train-rmse:8.64417	train-r2:0.53875	valid-rmse:9.27254	valid-r2:0.44761
[240]	train-rmse:8.58613	train-r2:0.54492	valid-rmse:9.25018	valid-r2:0.45027
[250]	train-rmse:8.53759	train-r2:0.55005	valid-rmse:9.23609	valid-r2:0.45194
[260]	train-rmse:8.49567	train-r2:0.55446	valid-rmse:9.22375	valid-r2:0.45341
[270]	train-rmse:8.45785	train-r2:0.55842	valid-rmse:9.21349	valid-r2:0.45462
[280]	train-rmse:8.42709	train-r2:0.56162	valid-rmse:9.20879	valid-r2:0.45518
[290]	train-rmse:8.39644	train-r2:0.56481	valid-rmse:9.20355	valid-r2:0.45580
[300]	train-rmse:8.36253	train-r2:0.56831	valid-rmse:9.19891	valid-r2:0.45634
[310]	train-rmse:8.33185	train-r2:0.57147	valid-rmse:9.19527	valid-r2:0.45677
[320]	train-rmse:8.30433	train-r2:0.57430	valid-rmse:9.19585	valid-r2:0.45671
[330]	train-rmse:8.26554	train-r2:0.57827	valid-rmse:9.19424	valid-r2:0.45690
[340]	train-rmse:8.23703	train-r2:0.58117	valid-rmse:9.18871	valid-r2:0.45755
[350]	train-rmse:8.21549	train-r2:0.58336	valid-rmse:9.18657	valid-r2:0.45780
[360]	train-rmse:8.18603	train-r2:0.58634	valid-rmse:9.18737	valid-r2:0.45771
[370]	train-rmse:8.16056	train-r2:0.58891	valid-rmse:9.18803	valid-r2:0.45763
[380]	train-rmse:8.13501	train-r2:0.59148	valid-rmse:9.18725	valid-r2:0.45772
[390]	train-rmse:8.11488	train-r2:0.59350	valid-rmse:9.18583	valid-r2:0.45789
[400]	train-rmse:8.08562	train-r2:0.59643	valid-rmse:9.18747	valid-r2:0.45770
[410]	train-rmse:8.06007	train-r2:0.59898	valid-rmse:9.19049	valid-r2:0.45734
[420]	train-rmse:8.03663	train-r2:0.60130	valid-rmse:9.19259	valid-r2:0.45709
[430]	train-rmse:8.01114	train-r2:0.60383	valid-rmse:9.19517	valid-r2:0.45679
[440]	train-rmse:7.98698	train-r2:0.60622	valid-rmse:9.19704	valid-r2:0.45657
[442]	train-rmse:7.97679	train-r2:0.60722	valid-rmse:9.19406	valid-r2:0.45692

In [62]:
# Predicting on test set
p_test = P.predict(f_test)
p_test

array([ 79.47702 ,  96.08998 ,  81.27501 , ...,  98.530426, 107.075165,
        95.31805 ], dtype=float32)

In [63]:
Predicted_Data = pd.DataFrame()
Predicted_Data['y'] = p_test
Predicted_Data.head()

            y
0   79.477020
1   96.089981
2   81.275009
3   77.271339
4  109.941231